<!-- [view]="[1000,400]" -->
<div class="row h-50">
  <div class="col bg-light rounded">
    <!-- The following div is to contain the ngx-chart -->
    <!-- https://github.com/swimlane/ngx-charts/issues/225 -->
    <div class="h-100">
      <ngx-charts-line-chart 
          [results]="[{name: exchangeRateService.selectedCrypto, series: (exchangeRateService.rateData$ | async)}]"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Date'"
          [yAxisLabel]="'Value (USD)'"
          [yAxisTickFormatting]='formatToCurrency'
          [gradient]="true"
          >
          <!-- [legendTitle]="exchangeRateService.selectedCrypto" -->
          <!-- [legend]="true" -->
        </ngx-charts-line-chart>
    </div>
  </div>
</div>